<!DOCTYPE html>
<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <form method = "post" action = "{{ url_for('admin.adminLoginValidation') }}">
      <label for="adminPassword">Please Enter the Admin Password:</label><br>
      <input type="text" id="adminPassword" name="adminPassword"><br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>