<html> 
  <body> 
    {% extends "admin/layout.html" %}
    {% block content %} 
    <h2>This will submit an answer key for the game with gameId: {{ gameId }}</h2>
    <h2>Don't Forget To Select the Correct Round!</h2>
    <form method = "post" action = "{{ url_for('admin.submitAnswerKeySuccess') }}">
      <label for="roundId">Choose your round:</label>
      <select id="getRoundResults" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select><br>
      Answer 1: <input type="text" name="Answer1" size="50"><br>
      Expected Points: <input type="text" name="Question1_ExpectedPoints" size="20"><br>
      Answer 2: <input type="text" name="Answer2" size="50"><br>
      Expected Points: <input type="text" name="Question2_ExpectedPoints" size="20"><br>
      Answer 3: <input type="text" name="Answer3" size="50"><br>
      Expected Points: <input type="text" name="Question3_ExpectedPoints" size="20"><br>
      Answer 4: <input type="text" name="Answer4" size="50"><br>
      Expected Points: <input type="text" name="Question4_ExpectedPoints" size="20"><br>
      Answer 5: <input type="text" name="Answer5" size="50"><br>
      Expected Points: <input type="text" name="Question5_ExpectedPoints" size="20"><br>
      Answer 6: <input type="text" name="Answer6" size="50"><br>
      Expected Points: <input type="text" name="Question6_ExpectedPoints" size="20"><br><br>
      <input type="submit" value="Submit">
    </form>
    <h2>Helpful Info</h2>
    <h3>1.) If your question has multiple answers, seperate them with commas.</h3>
    <h3>2.) If you think there may be common mispellings, seperate the mispellings with commas.</h3>
    <h3>3.) The "Expected Points" should be filled in with the max number of points that can be received for the question.</h3>
    {% endblock %}
  </body>  
</html>  