<html>  
  <body> 
    {% extends "admin/layout.html" %}
    {% block content %}
    <h1>Game Id: {{ gameId }}</h1>
    <h2 id="message">Update Message: <strong>{{ message }}</strong></h2>
    <h3>Game Management Zone</h3>
    <h4>Is Game Enabled: {{ isGameEnabled }}</h4>
    <form method="post" action="{{ url_for('admin.toggleGame') }}">
      <label for="toggleGame">Enable/Disable Game:</label>
      <select id="toggleGame" name="toggleGame">
        <option value="Game Enabled">Enable Game</option>
        <option value="Game Disabled">Disable Game</option>
      </select>
      <input type="submit" name="submit"/>
    </form>

    <h3>Round Management Zone</h3>
    <h4>List of Enabled Rounds: {{ enabledRounds }}</h4>
    <form method="post" action="{{ url_for('admin.toggleRound') }}">
      <label for="enableRound">Select A Round To ENABLE:</label>
      <select id="enableRound" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select>
      <input type="submit" name="submit" value="Enabled"/>
    </form>

    <form method="post" action="{{ url_for('admin.toggleRound') }}">
      <label for="disableRound">Select A Round To DISABLE:</label>
      <select id="disableRound" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select>
      <input type="submit" name="submit" value="Disabled"/>
    </form>

    <body class="clock">
      <div id="clockdiv">
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </body>

    <form method = "post" id="autoDisableRound" action = "{{ url_for('admin.setCountdownClockInfo') }}">
      <label for="roundId">Select A Round To AUTO-DISABLE:</label>
      <select id="roundId" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select>
      <label for="remainingSeconds">Input Remaining Time:</label><br>
      <input type="text" placeholder="Remaining time (in seconds)" id="remainingSeconds" name="remainingSeconds" size="50"><br>
      <input type="submit" name="submit" value="Submit">
    </form>

    <script>
      $("#autoDisableRound").submit(function(event){
        event.preventDefault(); //prevent default action
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission
        console.log("Before post call to setCountDownClock")
        console.log(form_data)
        console.log($("#remainingSeconds").val())
        $.post(post_url,
        {
            remainingSeconds: $("#remainingSeconds").val(),
        },
        function(data,status){});

        $.ajax({
          url : "getRoundEndTime",
          type: request_method,
          data : $("#roundId").serialize(),
          success: function(response) {
            console.log("Getting response in ajax request")
            console.log(response)
            response = JSON.parse(response)
            autoDisableRound("clockdiv", $("#roundId").val(), response["endTime"]);
          },
          error: function(xhr) {
            //Do Something to handle error
          }
        })
      });
    </script>

    <h3>Round Answer Zone</h3>
    <form method="post" action="{{ url_for('admin.getTeamResponseCount') }}">
      <label for="getTeamResponseCount">Get team response count:</label>
      <select id="getTeamResponseCount" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select>
      <input type="submit" name="Submit"/>
    </form>

    <form method="post" action="{{ url_for('admin.getRoundResults') }}">
      <label for="getRoundResults">GetRoundResults:</label>
      <select id="getRoundResults" name="roundId">
        <option value="Round_1">Round 1</option>
        <option value="Round_2">Round 2</option>
        <option value="Round_3">Round 3</option>
        <option value="Round_4">Round 4</option>
        <option value="Round_5">Round 5</option>
        <option value="Round_6">Round 6</option>
      </select>
      <input type="submit" name="Submit"/>
    </form>
    {% endblock %}
  </body>  
</html>  