<html>  
  <head>  
    <title>getting the session</title>  
  </head>  
  <body> 
    {% extends "admin/layout.html" %}
    {% block content %} 
    <form method = "post" action = "{{ url_for('admin.checkGameId') }}">
      <label for="gameId">Create Game:</label><br>
      <input type="text" id="gameId" name="gameId"><br><br>
      <input type="hidden" name="operation" value="Create">
      <input type="submit" value="Submit">
    </form>
    <form method = "post" action = "{{ url_for('admin.checkGameId') }}">
      <label for="gameId">Find Existing Game:</label><br>
      <input type="text" id="gameId" name="gameId"><br><br>
      <input type="hidden" name="operation" value="Find">
      <input type="submit" value="Submit">
    </form>
    {% endblock %}
  </body>  
</html>  