<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <body class="body">

    <div class="navMenuBanner">
      <h1 class="navMenuBannerTitle">TEAM NAME: </h1>
      <h1 class="teamBannerSeparator"> {{ teamName }}</h1>
      <h1 class="navMenuBannerTitle">GAME ID: </h1>
      <h1> {{ gameId }}</h1>
    </div>

    <div class="container">
      <h1 class="title">{{ message }}</h1><br><br><br>
      <h2 class="waitingRoom">LET'S CONTINUE WITH THE GAME!
      </h2><br>
      <div class="waitingRoomContainer">
        <form action="{{ url_for('main.gamePlayRoom') }}">
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">GAME LOBBY</button>
        </form>
      </div>
    </div>
  </body>
</html>