<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <body class="body">
    <div class="container">
      <h1 class="title">LET THE GAMES BEGIN!</h1>
      <div class="registrationContainer">
        <form class="registration" method="post" action="{{ url_for('main.validateGameId') }}">
          <div class="form-group">
            <label class="primaryLabel label col-form-label" for="gameId">ENTER THE GAME ID:</label>
            <small id="idHelp" class="secondaryLabel form-text text-muted">POSTED IN FACEBOOK GROUP AND SHOWN ON TRIVIA SLIDES</small>
            <input type="text" class="form-control form-control-lg" name="gameId" id="gameId">
          </div>
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">LET'S PLAY!</button>
        </form>
      </div>
    </div>
  </body>
</html>