<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <body class="body">
    <form method="get" class="registration" target="_blank" action="https://docs.google.com/forms/d/e/1FAIpQLSdyzfCUEc5TuCHfOkwRXTIAu__umVWeRa6BIeVqwwGOT3n-wA/viewform?usp=sf_link">
        <button type="submit" value="Submit" class="btn btn-primary submit submitButton">GET MERCH</button>
      </form>
      <form method="get" class="registration" target="_blank" action="https://docs.google.com/spreadsheets/d/1RAkjYa7G8byVnfHKc0nniQpsi42vtenlHWa1QNU4XNU/edit?fbclid=IwAR34Ttkm6xmadNG4Fw6phc0uc5zsVWtpuXTOcCqeZoSVpu6L9DluoVsqB3U#gid=826994183">
        <button type="submit" value="Submit" class="btn btn-primary submit submitButton">SIGN UP FOR NEXT WEEK</button>
      </form><br><br><br>
    <div class="container">
      <h1 class="title">WELCOME!</h1>
      <div class="registrationContainer">
        <form class="registration" method="post" action="{{ url_for('main.validateGameId') }}">
          <div class="form-group">
            <label class="primaryLabel label col-form-label" for="gameId">ENTER THE GAME ID:</label>
            <small id="idHelp" class="secondaryLabel form-text text-muted">(SENT VIA EMAIL OR IN THE FACEBOOK GROUP)</small>
            <input type="text" class="form-control form-control-lg" name="gameId" id="gameId">
          </div>
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">LET'S PLAY!</button>
        </form>
      </div>
    </div>
  </body>
</html>