<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="body">
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <h1>Game id entered: {{ gameId }}</h1>
    <h1>{{ message }}</h1>
    <div class="errorContainer">
      <form method="get" action="{{ url_for('main.enterGameId') }}">
        <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">Try again</button>
      </form>
    </div>
  </body>
</html>