<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <h1>Game Id Entered: {{ gameId }}</h1>
    <h1>{{ message }}</h1>
    <form method="get" action="{{ url_for('main.enterGameId') }}">
      <input type="submit" value="Click here to try again" />
    </form>
  </body>
</html>