<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">  
  <body class="body">
    <div class="container">
      <br><br><br>
      <h1 class="title">OOPS!</h1><br><br>
      <h2 class="waitingRoom">GAME ID: {{ gameId }}</h2>
      <h2 class="waitingRoom">{{ message }}</h2>
      <div class="errorContainer">
        <form method="get" action="{{ url_for('main.enterGameId') }}">
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">TRY AGAIN</button>
        </form>
      </div>
    </div>
  </body>
</html>