<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <h1>Welcome to the Game Waiting room where you can wait for the game to start.</h1>
    <h2>Waiting for Game with Game Id: {{ gameId }}</h2>
    <p>Once we enable this game, you will be able to register a team with the link below</p>
    <a href="{{ url_for('main.gameWaitingRoom') }}">Register Your Team</a>
  </body>
</html>