<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <div>
  <body class="body">
    <div class="container">
      <br><br><br>
      <div class="titleSmall wait">YOU'RE IN</div>
      <h1 class="title">THE WAITING ROOM</h1><br><br><br>
      <h2 class="waitingRoom">THE GAME HOSTS WILL START THE GAME SHORTLY<br>
      </h2><br>
      <div class="waitingRoomContainer">
        <form method="get" action="{{ url_for('main.gameWaitingRoom') }}">
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">Check again</button>
        </form>
      </div>
    </div>
  </body>
</html>