<!DOCTYPE html>
<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="../../static/images/banner.png">
  <body class="body">
    <header>
      <div class="container">
        <strong><nav>
          <ul class="menu">
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit" value="Round 1" />
                <input type="hidden" name="roundId" value="Round_1">
              </form>
            </li>
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit"value="Round 2" />
                <input type="hidden" name="roundId" value="Round_2">
              </form>
            </li>
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit"value="Round 3" />
                <input type="hidden" name="roundId" value="Round_3">
              </form>
            </li>
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit"value="Round 4" />
                <input type="hidden" name="roundId" value="Round_4">
              </form>
            </li>
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit"value="Round 5" />
                <input type="hidden" name="roundId" value="Round_5">
              </form>
            </li>
            <li>
              <form method="post" action="{{ url_for('main.playRound') }}">
                <input type="submit"value="Round 6" />
                <input type="hidden" name="roundId" value="Round_6">
              </form>
            </li>
            <li>
              <form action="{{ url_for('main.endGame') }}">
                <input type="submit"value="End Game" />
              </form>
            </li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      <div class="titleSmall play">YOU'RE IN</div>
      <h1 class="title">THE GAME PLAY ROOM</h1><br><br><br>

      <h1>Game Play Room</h1>
      <h1>Game Id: {{ gameId }}</h1>
      <h1>Team Name: {{ teamName }}</h1><br><br><br>

      <h2>You're in the game!<br><br>
        Welcome to the game play room. This will be your homescreen in-between rounds.<br><br>
        Once your hosts announce that a round has been unlocked, use the navigation buttons to go to that round's answer form.<br><br>
        Good luck!
      </h2><br>
    </div>
  </body>
</html>