<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
      <div class="home">
        <h1>Welcome to Town Hall Trvia</h1>
        <p>You must register with a team name to proceed</p>
        <a href = "{{ url_for('main.login') }}">Click Here to Register</a><br>
      </div>
  </body>
</html>