<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <div class="home">
      <h1>Please Create a Team To participate in this Trivia Session</h1>
      <form method = "post" action = "{{ url_for('main.success') }}">
        <label for="teamName">Team Name:</label><br>
        <input type="text" id="teamName" name="teamName"><br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html> 
