<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <body class="body">
    <div class="container">
      <br><br><br>
      <h1 class="title">Team Validation</h1><br><br>
      <h2>A team with the name "{{ teamName }}" has already registered.</h2>
      <h2>If you are trying to register a team for the first time, you need to create a team with a unique name. Please register with a different team name.</h2><br>
      <form method="get" class="existingTeam" action="{{ url_for('main.registerTeam') }}">
        <button type="submit" value="Submit" class="btn btn-primary submit submitButton">REGISTER NEW TEAM</button>
      </form>
      <br><br>
      <h2>If you are trying to log back in as "{{ teamName }}", proceed to the Game Play Room.</h2><br>
      <form method="get" class="existingTeam" action="{{ url_for('main.gamePlayRoom') }}">
        <button type="submit" value="Submit" class="btn btn-primary submit submitButton">PROCEED TO GAME PLAY ROOM</button>
      </form>
    </div>
  </body>
</html>