<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="body">
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
    <h1>Team Registration</h1>
    <form method="post" class="registration" action="{{ url_for('main.teamRegisterSuccess') }}">
      <div class="form-group">
        <label for="teamName">Enter your team name:</label>
        <input type="text" class="form-control" name="teamName" id="teamName">
      </div>
      <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton registrationButton">Let's Go!</button>
    </form>
  </body>
</html>