<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="../../static/images/banner.png">
  <body class="body">
    <div class="container">
      <h1 class="title">TEAM REGISTRATION</h1>
      <div class="registrationContainer">
        <form class="registration" method="post" action="{{ url_for('main.teamRegisterSuccess') }}">
          <div class="form-group">
            <label class="label col-form-label" for="teamName">ENTER YOUR TEAM NAME:</label>
            <input type="text" class="form-control form-control-lg" name="teamName" id="teamName">
          </div>
          <button type="submit" value="Submit" class="btn btn-primary submit text-right submitButton">LET'S PLAY!</button>
        </form>
      </div>
    </div>
  </body>
</html>