<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <h1 class="logo">Town Hall Trivia</h1>
    </header>
      <div class="picks">
        <h1>{{ roundId }}</h1>
        <p> Logged in as {{ teamName }}</p>
		    <form method = "post" action = "{{ url_for('main.submitTeamAnswers') }}">
          Question 1: <input type="text" id="Question1" name="Question1" size="50"><br>
          Question 2: <input type="text" id="Question2" name="Question2" size="50"><br>
          Question 3: <input type="text" id="Question3" name="Question3" size="50"><br>
          Question 4: <input type="text" id="Question4" name="Question4" size="50"><br>
          Question 5: <input type="text" id="Question5" name="Question5" size="50"><br>
          Question 6: <input type="text" id="Question6" name="Question6" size="50"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
  </body>
</html>