<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/countdownClock.js') }}"></script>
  </head>
  <!-- <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}"> -->
  <body class="body">
    <br><br><div class="navMenuBanner">
      <h1 class="navMenuBannerTitle">TEAM NAME: <span class="navMenuBannerContent">{{ teamName }}</span></h1>
      <h1 class="navMenuBannerTitle">GAME ID: <span class="navMenuBannerContent">{{ gameId }}</span></h1>
    </div>

    <body class="clock">
      <div id="clockdiv">
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </body>

    <script>
      setInterval(function(){
          $.ajax({
            url: "/checkCountdownClock",
            type: "get",
            data: "",
            success: function(response) {
              console.log(response)
              response = JSON.parse(response)
              
              if (response["AdminEnabled"] && !response["ClientEnabled"]) {
                initializeClock("clockdiv", "clockhover",  response["EndTime"]);
              }
            },
            error: function(xhr) {
              //Do Something to handle error
            }
          });
      }, 2000);
    </script>

    <div class="container">
      <h1 class="title">{{ roundId }}</h1>
      <form class="registration" id="roundForm" autocomplete="off" method="post" action="{{ url_for('main.submitTeamAnswers') }}">
        <div class="form-group">
          <label for="Question1" class="label">QUESTION 1</label>
          <input type="text" placeholder="Your answer here" class="form-control form-control-lg" name="Question1" id="Question1">
        </div>
        <div class="form-group">
          <label for="Question2" class="label">QUESTION 2</label>
          <input type="text" class="form-control form-control-lg" name="Question2" id="Question2">
        </div>
        <div class="form-group">
          <label for="Question3" class="label">QUESTION 3</label>
          <input type="text" class="form-control form-control-lg" name="Question3" id="Question3">
        </div>
        <div class="form-group">
          <label for="Question4" class="label">QUESTION 4</label>
          <input type="text" class="form-control form-control-lg" name="Question4" id="Question4">
        </div>
        <div class="form-group">
          <label for="Question5" class="label">QUESTION 5</label>
          <input type="text" class="form-control form-control-lg" name="Question5" id="Question5" >
        </div>
        <div class="form-group">
          <label for="Question6" class="label">QUESTION 6</label>
          <input type="text" class="form-control form-control-lg" name="Question6" id="Question6">
        </div>
        <button type="submit" value="Submit" class="btn btn-primary submit submitButton">SUBMIT</button>
      </form>
    </div>
  </body>
</html>