<!DOCTYPE html>

<html>
  <head>
    <title>Town Hall Trivia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <img class="logo" src="{{ url_for('static', filename='images/banner.png') }}">
  <body class="body">
    <div class="container">
      <h1 class="title">HOPE YOU ENJOYED TRIVIA!</h1>
      <h1 class="title small">SEE YOU AGAIN NEXT WEDNESDAY</h1>
      <h1 class="title small">APRIL 29 @ 9PM EST</h1>
      <div class="registrationContainer">
        <form method="get" class="existingTeam" action="https://docs.google.com/spreadsheets/d/1RAkjYa7G8byVnfHKc0nniQpsi42vtenlHWa1QNU4XNU/edit?usp=sharing">
          <button type="submit" value="Submit" class="btn btn-primary submit submitButton">SIGN UP</button>
        </form>
      </div>
    </div>
  </body>
</html>