body {
  background-color: #c7eef5; 
  margin: 20px;
  padding: 0;
  color: #022149;
}

h1 {
  font-family: verdana;
  font-size: 300%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
h2 {
  margin-left: 20px;
}
h1.logo {
	color: white;
	font-size: 500%;
	text-align: center;
	border: 5px solid black;
  	padding: 20px;
  	margin: 0 auto;
  	width: 200px;
}
header h1.logo:hover {
  color: black;
  text-decoration: none;
}
p  {
  color: black;
  font-family: courier;
  font-size: 160%;
  padding: 30px;
  margin: 50px;
}
div {
  padding: 20px;
  margin: 0 auto;
}

.menu {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
}

.menu li {
  float: left;
}

.menu li a {
  color: #666;
  display: block;
  font-family: verdana;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #ddd;
}

/* Forms */
button.submitButton {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f07c41;
  border-color: #f07c41;
}

div.form-group {
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

form.registration {
    width: 35%;
}
/* Forms */



/* Round.html */
p.teamName {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: #022149;
}

body.body {
  background: #c7eef5;
  margin: 20px;
  color: #022149;
}
/* Round.html */

