h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-family: verdana;
  font-stretch: 32px;
}
h1.logo {
	color: white;
	font-size: 500%;
	text-align: center;
	border: 5px solid black;
  	padding: 20px;
  	margin: 0 auto;
  	width: 200px;
}
header h1.logo:hover {
  color: black;
  text-decoration: none;
}
p  {
  color: black;
  font-family: courier;
  font-size: 160%;
  padding: 30px;
  margin: 50px;
}
div {
  padding: 20px;
  margin: 0 auto;
}

.menu {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.menu li {
  float: left;
}

.menu li a {
  color: #666;
  display: block;
  font-family: verdana;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #ddd;
}

/* Header */
img.logo { 
  width: 100%;
}
h1.title {
  font-size: 60px !important;
  text-align: center;
}
h1.title.small {
  font-size: 40px !important;
  text-align: center;
}
/* Header */

/* Forms */
button.submitButton {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #cf2971;
  border-color: white;
  font-size: 28px
}

button.smallTextButton {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #cf2971;
  border-color: white;
  font-size: 18px
}

div.form-group {
  padding-bottom: 10px;
  margin-bottom: 0;
  padding-top: 10px;
}

.registrationContainer {
  justify-content: center;
  margin-top: 40px;
  padding: 0px !important;
}
/* Forms */

/* Round.html */
p.teamName {
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 20px;
  padding-bottom: 20px;
  color: white;
}

body.body {
  background-color: #030302; 
  margin-bottom: 60px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  color: white;
}

/* Countdown clock */
body.clock{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1.clock.{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
  text-align: right;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: none;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    /*background: #00BF96;*/
    display: inline-block;
    background-color: #cf2971;
    border-color: white;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #e75480;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}
/* Countdown clock */
/* Round.html */


/* error.html */
.errorContainer {
  display: flex;
  justify-content: center;
}
/* error.html */


/* enterGameId.html and registerTeam.html */
label.primaryLabel {
  padding: 0px;
}
small.secondaryLabel {
  margin-bottom: 10px !important;
  margin-top: 0px;
}
label.label {
  font-size: 34px;
}
/* enterGameId.html and registerTeam.html  */


/* gamePlayRoom.html */
div.teamBanner {
  background: #cf2971;
  display: flex;
  justify-content: center;
  padding: 10px !important;
  border-radius: 20px;
}
h2.teamBannerTitle {
  padding: 0px;
  flex-grow: 1;
  text-align: center;
}
div.navMenuBanner {
  background: #262625;
  display: flex;
  justify-content: center;
  padding: 10px !important;
}
input.navMenu {
  background: transparent;
  color: #999999;
  border: none;
  font-size: 28px;
  cursor: pointer;
}
h1.navMenuBannerTitle {
  color: #cf2971;
  padding-right: 5px;
  flex-grow: 1;
  text-align: center;
}
span.navMenuBannerContent {
  padding: 0px;
  margin: 0px;
  color: white;
}
form.navMenu {
  padding-right: 10px;
  padding-left: 10px;
  border-left: 1px #999999 solid;
}
form.navMenuLastItem {
  border-right: 1px #999999 solid;
}
/* gamePlayRoom.html */


/* gameWaitingRoom.html */
div.titleSmall {
  margin-top: 20px;
  font-size: 40px;
  padding: 0;

}
div.wait {
  margin-left: 275px;
}
div.lobby {
  margin-left: 305px;
}
.waitingRoomContainer {
  display: flex;
  justify-content: center;
}
h2.waitingRoom {
  text-align: center;
}
/* gameWaitingRoom.html */

/* loginAsExistingTeam.html */
form.existingTeam{
  display: flex;
  justify-content: center;
}
/* loginAsExistingTeam.html */


/* endGame.html */
h2.endGame {
  text-align: center;
}
/* endGame.html */
